# OS / IDE
.idea/
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env

# CodeIgniter 4 Writable folders
writable/cache/
writable/logs/
writable/session/
writable/uploads/
writable/debugbar/

# Composer dependencies
vendor/

# User uploads
public/uploads/
public/pwa/uploads/

# Node environment
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

app/Config/firebase/*.json
.env
.env.local

