<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si no es archivo o carpeta real, enviar a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Seguridad básica
Options -Indexes